# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
*.log
logs/
error.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build output (agar ho)
dist/
build/